<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div>
        <h1>Welcome to pytech.hu</h1>
        <br>
        <img src="../static/img/uder-c.jpg" alt="under construction">
        <br>
        <h2>Please come back later...</h2>
    </div>
    
</body>
</html>